# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
.env.development.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pharma-bridge-consulting-firebase-adminsdk-fbsvc-8491144848.json
pharma-bridge-consulting-firebase-adminsdk-fbsvc-16934ee6f4.json
